.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.company-logo {
    width: 100px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: -40px 0;
}

.show-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.show-button:hover {
    background-color: #0056b3;
}

.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.confirm-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.confirm-button:hover {
    background-color: #218838;
}